// variables 
$primary-highlight-color: #E50E40;
$primary-text-color-dark: #333;
$primary-text-color-light: #fff;





// GENERAL

// Keep desktop nav from scrolling 
#homepage div.desktop-nav.hidden {
    display: block !important;
}

#homepage div.desktop-nav {
	a { 
		text-shadow: 2px 2px 2px rgba(000, 000, 000, .5);
	}
	a:hover {
		text-shadow: none;
		color: #F82758;

	}
}

#homepage .hdr-scrolled {
    background: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#homepage .nav-scrolled {
	li a {
		color: #fff;
	}
}

.text-shadow { text-shadow: 2px 2px 2px rgba(000, 000, 000, .5); }






//BACKGROUND NOISE 
#sb-site {
  background: url('../images/hero-noise.jpg');
}





// FONTS
h1, h2, h3, a {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}

h4, h5, p {
	font-family: 'Lato', helvetica, arial, sans-serif;
	letter-spacing: 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 700;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-weight: 700;
}

p {
	font-size: 1.15em;
}

ul {
	color: #000;
	padding: 0;
}

a {
	color: $primary-text-color-dark;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .3s; //Safari
	transition: .3s;
	&:hover {
		color: $primary-highlight-color;
		text-shadow: none;
		text-decoration: none;
	}
}





// CONTAINERS
// reduce blur on logo (keep from being positioned on odd pixel) 
#sb-site {
	    -webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}





// UTILITY CLASSES 
.hidden {
	display: none;
}
.show {
	display:block;
}

.selected {
	color: $primary-highlight-color;
}

.spacer {
	clear: both;
	min-height: 20px;
	width: 100%;
}

.hr--clear {
	clear: both;
	width: 100%;
}

@media all and (max-width: 769) {
	.bottom-spacer {
		height: 50px;
		content: '';
	}	
}





// SCROLL DOWN ARROW 
.btn-circle {
	position: absolute;
    top: 81vh;
    width: 100%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    font-size: 55px;
    color: rgba(255,255,255,.85);
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover {
    	cursor: default;
    	color: rgba(255,255,255,.85);
    }
    @extend .text-shadow;

}

.btn:active {
	box-shadow: none;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;    
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}


@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}





// CENTER HERO TITLE
.hero-title {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 50vh;
    transform: translateY(-50%);
    h2 {
    	text-align: center;
        font-family: 'Montserrat', helvetica, arial, sans-serif;
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        width: 100%;
        @extend .text-shadow;
    }
}
@media (min-width: 400px) {
  .hero-title {
    h2 {
      font-size: 50px;
    }
  }
}





// MODAL OVERRIDES 
.modal {
	background-color: none;
}

.modal-body {
	padding: 0;
}

.modal-dialog {
	width: 100%;
}

.modal-header {
	border-bottom: none;
	padding-bottom: 0;
	h4 {
		text-align: center;
	}
}

.modal-content {
	background-color: $primary-highlight-color;
	padding: 7px;
	margin: 10px;
}

.modal-header {
	padding: 0 !important;
}

.modal-footer {
	border-top: none;
}

.close {
	font-size: 40px;
}
