.classes-main {
	max-width: 1080px;
	margin: 0 auto;
	padding-bottom: 50px;
	h1, h2, h3, h4, h5, a, p {
		color: #000;
	}
	p {
		text-transform: none;
	}
	h4 {
		color: $primary-highlight-color;
	}
}

.classes-item {
	padding-bottom: 10px;
}

.classes-hero-wrap {
	position: relative;
}

.classes-hero {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	h3 {
		text-align: center;	
		padding-bottom: 30px;
		font-weight: 700;
	}
}

.classes-logo {
	height: 90px;
	width: 90px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}

