//HERO
.classes-bg {
    background: url('../images/index-bg-4.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: center top;
    opacity: 1;
  	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
  	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
  	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
    z-index: 1;
}

.classes-hero {
  z-index: 1;
  	margin: 0 auto;
  	position: absolute;
  	top: 50vh;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 100%;
    h2 {
        font-family: 'Montserrat', helvetica, arial, sans-serif;
      	color: #fff;
      	text-align: center;
        font-size: 40px;
        font-weight: 400;
      	@extend .text-shadow;
    }
}




// SCHEDULE 
.schedule-main {
	max-width: 1080px;
	margin: 0 auto;
	padding-bottom: 50px;
	h2 {
		color: #000;
	}	
	h3 {
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.class-schedule {
	height: auto;
	width: 100%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}




// CLASSES 
.classes-main {
	max-width: 1080px;
	margin: 0 auto;
	// padding-bottom: 50px;
	h1, h2, h3, h4, h5, a, p {
		color: #000;
	}
	p {
		text-transform: none;
	}
	h4 {
		color: $primary-highlight-color;
	}
}

.classes-item {
	padding-bottom: 10px;
}

.classes-icon-wrap {
	position: relative;
}

.classes-icon {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	h3 {
		text-align: center;	
		padding-bottom: 30px;
		font-weight: 700;
	}
}

.classes-logo {
	height: 90px;
	width: 90px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}





// MEDIA QUERIES
@media (min-width: 500px) {
  .classes-hero {
    h2 {
      font-size: 55px;
    }
  }
}

@media all and (min-width:768px) {
	// .class-schedule {
	//     width: 97%;
	//     top: 50%;
	//     left: 48%;
	// }
}