.coaches-main {
	margin: 0 auto;
	max-width: 1080px;
	padding-bottom: 50px;
	h1, h2, h3, h4, h5, a, p {
		color: #000;
	}
	p {
		text-transform: none;
	}
	h4 {
		color: $primary-highlight-color;
	}
}
.coach-item {
	padding-bottom: 10px;
}

.bio-name {
	text-align: left;
	padding-left: 20px;
}

.coach-img {
	height: 100%;
	width: 100%;
	border: 5px solid #222;
	margin-bottom: 30px;
}

.cert-list {
	padding-left: 20px;
}