//HERO
.contact-bg {
    background: url('../images/contact-bg-mobile.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-position: center top;
    opacity: 1;
  	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
  	-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
  	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.51);
    z-index: 1;
}

.contact-hero {
  	z-index: 1;
  	margin: 0 auto;
  	position: absolute;
  	top: 50vh;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 100%;
    h2 {
        font-family: 'Montserrat', helvetica, arial, sans-serif;
      	color: #fff;
      	text-align: center;
        font-size: 40px;
        font-weight: 400;
      	@extend .text-shadow;
    }
}

.contact-lower-hero {
	padding: 60px 20px 20px 20px;
  	margin: 0 auto;
  	z-index: 0;
  	border-bottom: solid 3px #000;
  	a:hover {
  		color: $primary-highlight-color;
		text-decoration: underline;
  	}
  	h2 {
  		color: #000;
  		text-align: center;
  		text-transform: uppercase;
  	}
  	p {
    	color: #333;
        font-family: 'Montserrat', helvetica, arial, sans-serif;
      	font-weight: 400;
        letter-spacing: 0;
        text-transform: none;
        text-align: center;
        font-size: 18px;
        padding-bottom: 20px;
        &:hover {
          color: #333;
        }
    }
  	h2:hover, h3:hover {
  		text-decoration: none;
  		color: #000;
  	}
  	span {
  		color: $primary-highlight-color;
  	}
}  	

.location-wrap {
	ul {
		padding-top: 15px;
		color: #777;
	}
	li {
		display: block;
		font-family: 'Lora', serif;
		font-size: 13px;
		font-weight: 700;
	}
	li:last-child {
		color: #000;
	}
}

.blog-wrap {
	a, h3 {
		-webkit-transition: .3s; /* Safari */
    	transition: .3s;
	}
	a h3:hover {
		text-decoration: underline;
		color: $primary-highlight-color;
	}
}

	


	
// MAP 
#map {
	height: 260px;
	width: 100%;
	z-index: -1;
}





// MEDIA QUERIES
@media (min-width: 400px) {
	#map {
		height: 350px;
	}
}

@media (min-width: 500px) {
	.contact-hero {
		h2 {
		  font-size: 55px;
		}
	}

}

// if the screen is 769px or WIDER use this image...Why is this so difficult to remember!?!
@media (min-width: 769px) {
	.contact-bg {
		background: url('../images/contact-bg-desktop.jpg');
    	background-position: center center;
		height: 100vh;
		background-repeat: none;
    	background-size: cover;
	}
}

@media (min-width: 1081px) {
	#map {
		height: 400px;
	}
}

