.contact-main {
	border-bottom: 1px solid #000;
	width: 100%;
}

.contact-hero {
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 30px;
	max-width: 90%;
	h2 {
		font-size: 50px;
		color: #000;
		text-align: center;
	}
	h3 {
		font-size: 15px;
		color: #000;
		text-align: center;
	}
}

	
// MAP 
#map {
	height: 260px;
	width: 100%;
	z-index: 1;
}



