header {
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.desktop-nav {
	text-align: center;
	display: none;
	.desk-nav-logo {
		height: 45px;
		width: 45px;
		position: absolute;
		top: 7px;
		left: 10px;
		display: none;
	}
	ul {
		margin: 0 auto;
		margin-top: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		padding: 19px 15px;
		-webkit-transition: .3s; /* Safari */
    	transition: .3s;
    	a {
    		color: $primary-text-color-light;
    	}
		&:hover {
			> a {
				color: $primary-highlight-color;
  			text-shadow: none;
			}
		}
	}
}

.logo {
	background: url('../images/logo.jpg') no-repeat;
	background-attachment: fixed;
	// background-size: cover;
	background-position: center;
	height: 66px;
	width: 66px;
	
}

.burger {
	font-size: 35px;
	color: #000;
	position: fixed;
	top: 10px;
	right: 25px;
	-webkit-transition: .3s; /* Safari */
    transition: .3s;
}





/* ========== JS ========== */
.hdr-scrolled {
	background-color: rgba(255,255,255,.9);
	-webkit-transition: .5s; /* Safari */
    transition: .5s;
    position: fixed;
    top: 0;
	    -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.38);
	.desk-nav-logo {
		display: block;
	}
}

.nav-scrolled {
	li {
		-webkit-transition: .5s; /* Safari */
    	transition: .5s;
		a {
			color: $primary-text-color-dark;
			-webkit-transition: .5s; /* Safari */
	    	transition: .5s;
		}
		&:hover {
			background-color: $primary-highlight-color;
			> a {
				color: #fff;
			}
		}
	}	
}


/* ========== Media ==========*/
@media all and (min-width: 769px) {
	.desktop-nav {
		display: block;
	}
	.burger {
		display: none;
	}
}


.homepage-header-height {
	height: auto;
}
