.homepage-bg {
    background: url('../images/bg.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-position: center top;
    opacity: .9;
}

.elements-logo-main {
    background: url('../images/logo-white-alt.png');
    background-size: contain;
    background-repeat: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 175px;
    width: 175px;
}

.hero {
	margin: 0 auto;
	position: absolute;
	top: 70%;
  	left: 50%;
  	transform: translateY(-50%);
  	transform: translateX(-50%);
  	width: 100%;
  	max-width: 500px;
  	h4 {
  		// font-family: 'Playfair Display', serif; 
  		// font-weight: 700; 	
  		color: #fff;
  		text-transform: none;
  		text-align: center;
  		@extend .text-shadow;
  	}
  	h3 {
  		// font-family: 'Playfair Display', serif; 
  		font-family: 'Lora', serif;
  		font-weight: 700;
  		letter-spacing: 1px;
  	}
  	ul {
  		display: block;
  		text-align: center;
  	}
  	li {
  		color: #fff;
  		display: inline-block; 
  		text-align: center;
  		list-style-type: none;
  		@extend .text-shadow;
  	}
}




// MEDIA QUERIES 
@media all and (min-width: 769px) {
    .elements-logo-main {
        height: 210px;
        width: 210px;
    }
}