.homepage-bg {
    background: url('../images/index-bg-5.jpg');
    background-size: cover;
    position: relative;
    background-repeat: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-position: center top;
}

.elements-logo-main {
    background: url('../images/logo-white-alt.png');
    background-size: contain;
    background-repeat: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 135px;
    width: 135px;
}

.hero {
	margin: 0 auto;
	position: absolute;
	top: 75%;
  	left: 50%;
  	transform: translateY(-50%);
  	transform: translateX(-50%);
  	width: 100%;
  	max-width: 500px;
  	h4 {
        font-family: 'Montserrat', helvetica, arial, sans-serif;
  		color: #fff;
  		text-transform: none;
  		text-align: center;
        font-size: 16px;
        font-weight: 400;
  		@extend .text-shadow;
  	}
  	h3 {
  		font-family: 'Lora', serif;
        letter-spacing: 0;
  		font-weight: 700;
  		line-height: 0;
        font-size: 19px;
  	}
  	ul {
  		display: block;
  		text-align: center;
        margin: 0;
        padding: 0;
  	}
  	li {
  		color: #fff;
  		display: inline-block; 
  		text-align: center;
  		list-style-type: none;
  		@extend .text-shadow;
  	}
}




// MEDIA QUERIES 
@media (min-width: 500px) {
    .elements-logo-main {
      top: 50%;
      height: 220px;
      width: 220px;
    }
}
