.homepage-bg {
	background: url('../images/bg.jpg');
	background-size: cover;
	position: relative;
	background-repeat: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;
  	background-position: right top;
  	opacity: .75;
}

.elements-logo-main {
	background: url('../images/logo-white.png');
	background-size: contain;
	background-repeat: none;
  	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translateY(-50%);
  	transform: translateX(-50%);
	height: 250px;
	width: 250px;
	z-index: 2;
}

.hero {
	margin: 0 auto;
	
}