.nav-logo {
	height: 80px;
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sb-site {
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); /* Shadow cast onto the slidebars when opened. */
}

.sb-toggle-right {
	cursor: pointer;
}

ul.navbar-nav {
	display: none;
}




/* Slidebars */
.sb-slidebar {
	background-color: #fff; /* Background colour. */
	color: #000; /* Text colour. */
	h3 {
		font-size: 1em;
		font-weight: 700;
		letter-spacing: 0;
	}
}

.sb-slidebar a {
	text-transform: uppercase;
	text-decoration: none;
}

.sb-slidebar a:hover, .sb-slidebar a:active {
	color: $primary-highlight-color; 
	text-decoration: underline;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
	padding: 50px 20px 20px 20px;
	margin: 0;
	list-style-type: none;
}

.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
	border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
	border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
	width: 100%; /* Makes links full width. */
	display: inline-block;
	padding: 1.22em; /* Creates an even padding the same size as your font. */
	color: #000;
}

.sb-menu li a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.02); /* Will lighten any background colour you set. */
}


/* Borders */
.sb-right .sb-menu li a {
	border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
	border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}



// MEDIA QUERIES 
@media all and (min-width: 320px) {
	.nav-logo {
		height: 70px;
		width: 70px;
	}
	.sb-slidebar h3 {
		font-size: 1em;
	}
	.sb-menu li a {
		padding: 1.22em 1.22em 1.22em 0;
	}
}

@media all and (min-width: 375px) {
	.sb-menu li a {
		padding: 1.22em 1.22em 1.22em .8em;
	}
	.sb-slidebar h3 {
		font-size: 1.1em;
	}
}

@media all and (min-width: 500px) {
	.nav-logo {
		height: 100px;
		width: 100px;
	}
	.sb-slidebar h3 {
		font-size: 1.3em;
	}
}

@media all and (min-width: 768px) {
	.sb-slidebar h3 {
		font-size: 1.7em;
	}
}









