h1, h2, h3, a {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  letter-spacing: -1px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h4, h5, p {
  font-family: 'HelveticaNeue', helvetica, arial, sans-serif; }

h2 {
  font-size: 2rem; }

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }
  a:hover {
    color: #E50E40;
    text-shadow: none;
    text-decoration: none; }

.hidden {
  display: none; }

#sb-site {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  /* Shadow cast onto the slidebars when opened. */ }

.sb-toggle-right {
  cursor: pointer; }

ul.navbar-nav {
  display: none; }

/* Slidebars */
.sb-slidebar {
  background-color: #fff;
  /* Background colour. */
  color: #000;
  /* Text colour. */ }

.sb-slidebar a {
  text-transform: uppercase;
  text-decoration: none; }

.sb-slidebar a:hover {
  color: #E50E40;
  text-decoration: underline; }

/* Main Menu */
.sb-menu {
  /* Apply to <ul> or <ol>. */
  padding: 20px;
  margin: 0;
  list-style-type: none; }

.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* Will lighten any background colour you set. */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Will darken any background colour you set. */ }

.sb-menu > li:first-child {
  border-top: none;
  /* Removes top border from first list item.. */ }

.sb-menu > li:last-child {
  border-bottom: none;
  /* Removed bottom border from last list item. */ }

.sb-menu li a {
  width: 100%;
  /* Makes links full width. */
  display: inline-block;
  padding: 1.22em;
  /* Creates an even padding the same size as your font. */
  color: #000; }

.sb-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.02);
  /* Will lighten any background colour you set. */ }

/* Borders */
.sb-right .sb-menu li a {
  border-right: 3px solid transparent; }

.sb-right .sb-menu li a:hover {
  border-right: 3px solid;
  /* Removes transparent colour, so border colour will be the same as link hover colour. */ }

.homepage-bg {
  background: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-position: right top; }

header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.desktop-nav {
  text-align: center;
  display: none; }
  .desktop-nav ul {
    margin: 0 auto;
    margin-top: 0;
    padding: 0; }
  .desktop-nav li {
    display: inline-block;
    padding: 15px 18px;
    -webkit-transition: .3s;
    /* Safari */
    transition: .3s; }
    .desktop-nav li:hover > a {
      color: #E50E40; }
  .desktop-nav h2 {
    font-size: 2.2rem; }

.logo {
  background: url("../images/logo.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 66px;
  width: 66px; }

.burger {
  font-size: 35px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 25px;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }
  .burger:hover {
    color: #E50E40;
    text-shadow: none; }

/* ========== JS ========== */
.hdr-scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: .5s;
  /* Safari */
  transition: .5s;
  position: fixed;
  top: 0; }

.nav-scrolled a {
  color: #000;
  -webkit-transition: .5s;
  /* Safari */
  transition: .5s; }
.nav-scrolled li {
  -webkit-transition: .5s;
  /* Safari */
  transition: .5s; }
  .nav-scrolled li:hover {
    background-color: #E50E40; }
    .nav-scrolled li:hover > a {
      color: #fff; }

/* ========== Media ==========*/
@media all and (min-width: 769px) {
  .desktop-nav {
    display: block; }

  .burger {
    display: none; } }

/*# sourceMappingURL=main.css.map */
