/* Keep desktop nav from scrolling */
#homepage div.desktop-nav.hidden {
  display: block !important; }

#homepage div.desktop-nav a {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
#homepage div.desktop-nav a:hover {
  text-shadow: none; }

#homepage .hdr-scrolled {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

#homepage .nav-scrolled li a {
  color: #fff; }

.text-shadow, .hero-title h2, .homepage-hero h4, .homepage-hero li, .coaches-hero h2, .contact-hero h2, .about-hero h2, .membership-hero h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

#sb-site {
  background: url("../images/hero-noise.png"); }

h1, h2, h3, a {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding: 0; }

h4, h5, p {
  font-family: 'Lato', helvetica, arial, sans-serif;
  letter-spacing: 0; }

h2 {
  font-size: 2.2em;
  font-weight: 700; }

h3 {
  font-size: 1.5em;
  font-weight: 400; }

h4 {
  font-weight: 700; }

p {
  font-size: 1.15em; }

ul {
  color: #000;
  padding: 0; }

a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s; }
  a:hover {
    color: #E50E40;
    text-shadow: none;
    text-decoration: none; }

#sb-site {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.hidden {
  display: none; }

.show {
  display: block; }

.selected {
  color: #E50E40; }

.spacer {
  clear: both;
  min-height: 20px;
  width: 100%; }

.hr--clear {
  clear: both;
  width: 100%; }

@media all and (max-width: 769) {
  .bottom-spacer {
    height: 50px;
    content: ''; } }
.hero-title {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 60%;
  transform: translateY(-50%); }
  .hero-title h2 {
    text-align: center;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    width: 100%; }

@media (min-width: 500px) {
  .hero-title h2 {
    font-size: 55px; } }
.modal {
  background-color: none; }

.modal-body {
  padding: 0; }

.modal-dialog {
  width: 100%; }

.modal-header {
  border-bottom: none;
  padding-bottom: 0; }
  .modal-header h4 {
    text-align: center; }

.modal-content {
  background-color: #E50E40;
  padding: 7px;
  margin: 10px; }

.modal-header {
  padding: 0 !important; }

.modal-footer {
  border-top: none; }

.close {
  font-size: 40px; }

.nav-logo {
  height: 80px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#sb-site {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  /* Shadow cast onto the slidebars when opened. */ }

.sb-toggle-right {
  cursor: pointer; }

ul.navbar-nav {
  display: none; }

/* Slidebars */
.sb-slidebar {
  background-color: #fff;
  /* Background colour. */
  color: #000;
  /* Text colour. */ }
  .sb-slidebar h3 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0; }

.sb-slidebar a {
  text-transform: uppercase;
  text-decoration: none; }

.sb-slidebar a:hover, .sb-slidebar a:active {
  color: #E50E40;
  text-decoration: underline; }

/* Main Menu */
.sb-menu {
  /* Apply to <ul> or <ol>. */
  padding: 50px 20px 20px 20px;
  margin: 0;
  list-style-type: none; }

.sb-menu li {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* Will lighten any background colour you set. */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Will darken any background colour you set. */ }

.sb-menu > li:first-child {
  border-top: none;
  /* Removes top border from first list item.. */ }

.sb-menu > li:last-child {
  border-bottom: none;
  /* Removed bottom border from last list item. */ }

.sb-menu li a {
  width: 100%;
  /* Makes links full width. */
  display: inline-block;
  padding: 1.22em;
  /* Creates an even padding the same size as your font. */
  color: #000; }

.sb-menu li a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.02);
  /* Will lighten any background colour you set. */ }

/* Borders */
.sb-right .sb-menu li a {
  border-right: 3px solid transparent; }

.sb-right .sb-menu li a:hover {
  border-right: 3px solid;
  /* Removes transparent colour, so border colour will be the same as link hover colour. */ }

@media all and (min-width: 320px) {
  .nav-logo {
    height: 70px;
    width: 70px; }

  .sb-slidebar h3 {
    font-size: 1em; }

  .sb-menu li a {
    padding: 1.22em 1.22em 1.22em 0; } }
@media all and (min-width: 375px) {
  .sb-menu li a {
    padding: 1.22em 1.22em 1.22em .8em; }

  .sb-slidebar h3 {
    font-size: 1.1em; } }
@media all and (min-width: 500px) {
  .nav-logo {
    height: 100px;
    width: 100px; }

  .sb-slidebar h3 {
    font-size: 1.3em; } }
@media all and (min-width: 768px) {
  .sb-slidebar h3 {
    font-size: 1.7em; } }
.homepage-bg {
  background: url("../images/homepage-bg.jpg");
  background-size: cover;
  position: absolute;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background-position: center; }

.elements-logo-main {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px; }

.homepage-hero {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
  .homepage-hero h4 {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    text-transform: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0; }
  .homepage-hero h3 {
    font-family: 'Lora', serif;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 0;
    font-size: 19px; }
  .homepage-hero ul {
    text-align: center;
    margin: 0;
    padding: 0; }
  .homepage-hero li {
    color: #fff;
    display: inline-block;
    text-align: center;
    list-style-type: none; }

@media (min-width: 375px) {
  .elements-logo-main {
    top: 25%; } }
@media (min-width: 480px) {
  .elements-logo-main {
    top: 18%; } }
@media (min-width: 768px) {
  .elements-logo-main {
    height: 220px;
    width: 220px;
    top: 25%; }

  .homepage-hero {
    bottom: 35px; }
    .homepage-hero h4 {
      font-size: 21px; }
    .homepage-hero h3 {
      font-size: 26px;
      line-height: 1; } }
header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.desktop-nav {
  text-align: center;
  display: none;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }
  .desktop-nav .desk-nav-logo {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 7px;
    left: 10px;
    display: none; }
  .desktop-nav ul {
    margin: 0 auto;
    margin-top: 0;
    padding: 0; }
  .desktop-nav li {
    display: inline-block;
    vertical-align: top;
    -webkit-transition: .3s;
    /* Safari */
    transition: .3s; }
    .desktop-nav li a {
      color: #fff;
      display: inline-block;
      padding: 18px 15px 19px 15px; }
    .desktop-nav li:hover > a {
      color: #E50E40; }

.logo {
  background: url("../images/logo.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 66px;
  width: 66px; }

.burger {
  font-size: 35px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 25px;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }

.hdr-scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: .5s;
  /* Safari */
  transition: .5s;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 3px 17px 0px rgba(0, 0, 0, 0.38); }
  .hdr-scrolled .desk-nav-logo {
    display: block; }

.nav-scrolled li {
  -webkit-transition: .5s;
  /* Safari */
  transition: .5s; }
  .nav-scrolled li a {
    color: #333;
    -webkit-transition: .5s;
    /* Safari */
    transition: .5s; }
  .nav-scrolled li:hover {
    background-color: #E50E40; }
    .nav-scrolled li:hover > a {
      color: #fff; }
  .nav-scrolled li:active {
    background-color: #E50E40; }
    .nav-scrolled li:active > a {
      color: #fff; }

@media all and (min-width: 769px) {
  .desktop-nav {
    display: block; }

  .burger {
    display: none; } }
.homepage-header-height {
  height: auto; }

.coaches-main {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1080px; }
  .coaches-main h1, .coaches-main h2, .coaches-main h3, .coaches-main h4, .coaches-main h5, .coaches-main a, .coaches-main p {
    color: #000; }
  .coaches-main p {
    text-transform: none; }
  .coaches-main h4 {
    color: #E50E40; }

.coaches-bg {
  background: url("../images/coaches-bg-1.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  background-position: center top;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  z-index: 1; }

.coaches-hero {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%; }
  .coaches-hero h2 {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 55px;
    font-weight: 400; }

.coach-item {
  padding-bottom: 10px; }
  .coach-item h3 {
    font-weight: 700; }

.bio-name {
  text-align: left;
  padding-left: 20px; }

.coach-img {
  height: 100%;
  width: 100%;
  border: 5px solid #222;
  margin-bottom: 30px; }

.cert-list {
  padding-left: 20px; }

@media (min-width: 500px) {
  .classes-hero h2 {
    font-size: 55px; } }
.classes-bg {
  background: url("../images/classes-bg-1.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: center top;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  z-index: 1; }

.schedule-main {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 50px; }
  .schedule-main h2 {
    color: #000; }
  .schedule-main h3 {
    transition: .3s;
    -webkit-transition: .3s;
    /* Safari */
    text-transform: uppercase;
    cursor: pointer; }
    .schedule-main h3:hover {
      text-decoration: underline;
      color: #E50E40; }

.class-schedule {
  height: auto;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%); }

.classes-main {
  max-width: 1080px;
  margin: 0 auto; }
  .classes-main h1, .classes-main h2, .classes-main h3, .classes-main h4, .classes-main h5, .classes-main a, .classes-main p {
    color: #000; }
  .classes-main .private-lessons p {
    text-transform: none;
    font-family: 'Montserrat', helvetica, arial, sans-serif; }
  .classes-main h4 {
    margin-top: 0;
    color: #E50E40; }

.classes-item {
  padding-bottom: 10px; }
  .classes-item span {
    color: #E50E40; }
  .classes-item .classes-item--title h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px; }
  .classes-item .classes-item--photo {
    border: 3px solid #000;
    margin-bottom: 40px;
    border-radius: 0 13% 0 13%; }

.class-descriptions-title h2 {
  font-size: 2em; }

@media (min-width: 375px) {
  .class-descriptions-title h2 {
    font-size: 2.2em; } }
.contact-bg {
  background: url("../images/contact-bg-1.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: center;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  z-index: 1; }

.contact-hero {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%; }
  .contact-hero h2 {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 400; }

.contact-lower-hero {
  padding: 60px 20px 20px 20px;
  margin: 0 auto;
  z-index: 0;
  border-bottom: solid 3px #000; }
  .contact-lower-hero a:hover {
    color: #E50E40;
    text-decoration: underline; }
  .contact-lower-hero h2 {
    color: #000;
    text-align: center;
    text-transform: uppercase; }
  .contact-lower-hero p {
    color: #333;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px; }
    .contact-lower-hero p:hover {
      color: #333; }
  .contact-lower-hero h2:hover, .contact-lower-hero h3:hover {
    text-decoration: none;
    color: #000; }
  .contact-lower-hero span {
    color: #E50E40; }

.location-wrap ul {
  padding-top: 15px;
  color: #777; }
.location-wrap li {
  display: block;
  font-family: 'Lora', serif;
  font-size: 13px;
  font-weight: 700; }
.location-wrap li:last-child {
  color: #000; }

.blog-wrap a, .blog-wrap h3 {
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }
.blog-wrap a h3:hover {
  text-decoration: underline;
  color: #E50E40; }

#map {
  height: 260px;
  width: 100%;
  z-index: -1; }

@media (min-width: 400px) {
  #map {
    height: 350px; } }
@media (min-width: 500px) {
  .contact-hero h2 {
    font-size: 55px; } }
@media (min-width: 1081px) {
  #map {
    height: 400px; } }
footer {
  width: 100%;
  height: 300px;
  background-color: #000;
  padding-top: 30px;
  clear: both; }

.footer-logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  display: block;
  height: 70px;
  width: 70px;
  z-index: 2;
  margin-bottom: 30px; }

.footer-logo-wrap li, .footer-social-wrap li {
  display: inline-block;
  color: #fff;
  list-style-type: none;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }

.footer-address-wrap ul {
  text-align: center; }
.footer-address-wrap li {
  list-style-type: none;
  color: #fff;
  font-family: 'Lora', serif; }
  .footer-address-wrap li a {
    color: #fff;
    -webkit-transition: .3s;
    /* Safari */
    transition: .3s;
    text-transform: none;
    line-height: 30px;
    font-size: 13px; }
    .footer-address-wrap li a:hover {
      color: #F82758;
      opacity: 1; }

.footer-social-wrap ul {
  text-align: center; }
.footer-social-wrap li {
  padding: 0 5px; }
  .footer-social-wrap li:hover {
    opacity: 1; }
.footer-social-wrap a {
  color: #fff;
  -webkit-transition: .3s;
  /* Safari */
  transition: .3s; }
  .footer-social-wrap a:hover {
    color: #F82758;
    opacity: 1; }

@media all and (min-width: 768px) {
  footer {
    height: 150px; }

  .footer-social-wrap ul {
    text-align: center; }
  .footer-social-wrap .footer-address-wrap li {
    text-align: left; } }
/*doc
---
title: Push
name: Push
category: Utilities
---

Default Example: The push class will apply across all breakpoints.

```html_example
<div class="push--10">Large 10</div>
<div class="push--20">Large 20</div>
<div class="push--30">Large 30</div>
<div class="push--40">Large 40</div>
```

Multi Breakpoint Example: The Push classes will apply to their respective breakpoints
Large: > 1024
Medium: 640 -> 1024
Small: < 640

```html_example
<div class="push--small-80 push--medium-30 push--large-10">Large 1</div>
<div class="push--small-90 push--medium-40 push--large-20">Large 2</div>
<div class="push--small-100 push--medium-50 push--large-30">Large 3</div>
<div class="push--small-110 push--medium-60 push--large-40">Large 4</div>
```

Last Updated: 5/28/15 module: _push.scss
*/
/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--00,
.push--large-00 {
  margin-top: 00px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--10,
.push--large-10 {
  margin-top: 10px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--20,
.push--large-20 {
  margin-top: 20px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--30,
.push--large-30 {
  margin-top: 30px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--40,
.push--large-40 {
  margin-top: 40px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--50,
.push--large-50 {
  margin-top: 50px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--60,
.push--large-60 {
  margin-top: 60px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--70,
.push--large-70 {
  margin-top: 70px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--80,
.push--large-80 {
  margin-top: 80px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--90,
.push--large-90 {
  margin-top: 90px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--100,
.push--large-100 {
  margin-top: 100px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--110,
.push--large-110 {
  margin-top: 110px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--120,
.push--large-120 {
  margin-top: 120px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--130,
.push--large-130 {
  margin-top: 130px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--140,
.push--large-140 {
  margin-top: 140px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--150,
.push--large-150 {
  margin-top: 150px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--160,
.push--large-160 {
  margin-top: 160px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--170,
.push--large-170 {
  margin-top: 170px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--180,
.push--large-180 {
  margin-top: 180px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--190,
.push--large-190 {
  margin-top: 190px; }

/*
* Commenting for now, keeps large  or default from applying if these classes are also applied
*/
.push--200,
.push--large-200 {
  margin-top: 200px; }

.about-bg {
  position: relative;
  padding-top: 65%;
  background: url("../images/about-bg-1.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center top;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  z-index: 1; }

.about-hero {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%; }
  .about-hero h2 {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 400; }

.about-lower-hero {
  padding: 60px 20px;
  margin: 0 auto;
  z-index: 0; }
  .about-lower-hero p {
    color: #333;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    font-size: 18px; }
    .about-lower-hero p:hover {
      color: #333; }
  .about-lower-hero span {
    color: #E50E40; }

@media (min-width: 500px) {
  .about-hero h2 {
    font-size: 55px; } }
@media (min-width: 769px) {
  .about-lower-hero {
    padding: 120px 80px; }

  .about-lower-hero p {
    font-size: 22px; } }
.membership-bg {
  background: url("../images/membership-bg-1.jpg");
  background-size: cover;
  position: relative;
  background-repeat: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: center top;
  opacity: 1;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.51);
  z-index: 1; }

.membership-hero {
  margin: 0 auto;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 1; }
  .membership-hero h2 {
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 400; }

.membership-lower-hero {
  background: url("../images/hero-noise.png");
  padding: 60px 20px;
  margin: 0 auto;
  z-index: 0; }
  .membership-lower-hero p {
    color: #333;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px; }
    .membership-lower-hero p:hover {
      color: #333; }
  .membership-lower-hero span {
    color: #E50E40; }

@media (min-width: 500px) {
  .membership-hero h2 {
    font-size: 55px; }

  .membership-lower-hero h3 {
    font-size: 22px; } }

/*# sourceMappingURL=main.css.map */
