/*doc
---
title: Push
name: Push
category: Utilities
---

Default Example: The push class will apply across all breakpoints.

```html_example
<div class="push--10">Large 10</div>
<div class="push--20">Large 20</div>
<div class="push--30">Large 30</div>
<div class="push--40">Large 40</div>
```

Multi Breakpoint Example: The Push classes will apply to their respective breakpoints
Large: > 1024
Medium: 640 -> 1024
Small: < 640

```html_example
<div class="push--small-80 push--medium-30 push--large-10">Large 1</div>
<div class="push--small-90 push--medium-40 push--large-20">Large 2</div>
<div class="push--small-100 push--medium-50 push--large-30">Large 3</div>
<div class="push--small-110 push--medium-60 push--large-40">Large 4</div>
```

Last Updated: 5/28/15 module: _push.scss
*/

$push-slug: push !default;

@for $i from 0 through 20 {

    /*
    * Commenting for now, keeps large  or default from applying if these classes are also applied
    */
    // .#{$push-slug}--small-#{$i+'0'},
    // .#{$push-slug}--medium-#{$i+'0'}{
    //     margin-top: 0;
    // }

    .#{$push-slug}--#{$i+'0'},
    .#{$push-slug}--large-#{$i+'0'}{
        margin-top: #{($i+'0')+'px'};
    }
}
